@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0c10;
  color: white;
  overflow: hidden;
  /* Scroll yok */
}